
.ticket-table {
    height: 500px;
    overflow: scroll;
    border: 5px white solid;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px #9e9e9e;
}

.update-ticket {
    padding: 10px;
    box-shadow: 3px 3px black, 0em 0 .4em black;
    z-index: 200;
    height: 100%;
    width: 100%;
    margin-left: 65%;
    top: 0%;
    position: fixed;
    background-color: white;
    overflow: scroll;
}

.update-form-container {
    margin: 1% 1%;
}

.ticket-id:hover
{
    color: blue;
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
}

@media (min-width:300px) and ( max-width: 600px){
    .container {
        width:100%;
    }
    .update-ticket {
        margin-left: 0%;
    }

    select {
        width: 50%;
    }

    input[type='text'] {
        width: 45%;
    }
}